<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>SecDemo</title>
    <base href="/index.html">
    <meta name = "viewport" content = "width=device-width, initial-scale = 1.0">
    <meta name="keywords" content="docker-compose, docker, stack">
    <meta name="author" content="Tutum dev team">
    <link rel='stylesheet' href="{{ url_for('static', filename='stylesheets/style.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='font-awesome/css/font-awesome.min.css') }}">
  </head>
  <body>
    <div id="content-container">
      <div id="content-container-center">
        <h3>{{msg}}</h3>
  </body>
</html>
